{#
/**
 * @file
 * theme implementation for the 403 page.
 *
 * Variables:
 * - headline: A headline for the page.
 * - message: Message to display for the user.
 * - node_type: The content type for the current node, if the page is a node.
 * - button_home: Text for home button.
 * - button_search: Text for search button.
 *
 */
#}
{{ attach_library('acquia_cms_common/pnf_style') }}
<div class="pnf__wrapper">
  <div class="pnf__body">
    <h2>{{headline}}</h2>
    <p>{{ message }}</p>
    <a href="/" class="pnf__btn pnf__btn-home">{{ button_home }}</a>
    {% if button_search %}
      <div>
        <a href="/search" class="pnf__btn pnf__btn-search">{{ button_search }}</a>
      </div>
    {% endif %}
  </div>
</div>
