{#/**
* @file
* Default theme implementation for config checklist form.
*/
#}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{% set progress = (form.check_count['#value'] ? (form.check_count['#value'] * 100)/form.check_total['#value'] : 0)|round %}



<div class="section-top">
  <div class="help-text">
    {% if form.check_total['#value'] > 0 %}
      {{ "ACMS organizes its features into individual components called modules.
      The configuration dashboard/wizard setup will help you setup the pre-requisites.
      Please note, not all modules in ACMS are required by default, and some optional modules
      are left disabled on install. A checklist is provided to help you keep track of the tasks
      needed to complete configuration."|t
      }}
    {% else %}
      <h3>
        <i>
          {{ "It seems like you have installed minimal Acquia CMS, which does not have any specific configurations. You are all set. Once you download & enable any of the modules supported by the wizard, they should start appearing here. Ex:"|t }}
        </i>
      </h3>
      <ul>
        <li><a href="https://www.drupal.org/project/google_analytics">Google Analytics</a></li>
        <li><a href="https://www.drupal.org/project/geocoder">Geocoder</a></li>
        <li><a href="https://www.drupal.org/project/recaptcha">reCAPTCHA</a></li>
        <li><a href="https://www.drupal.org/project/acquia_telemetry">Acquia Telemetry</a></li>
        <li><a href="https://github.com/acquia/cohesion">Site Studio</a> etc.</li>
      </ul>
    {% endif %}
  </div>
  <div class="wizard">{{ form.modal_link }}</div>
</div>

<div class="tour-checklist {{ form.form_id['#value'] }}">
  {% if form.check_total['#value'] > 0 %}
    <div class="progress__track">
      <div class="progress__bar" style="width: {{ progress }}%;"></div>
    </div>
  {% endif %}

  <div class="checklist-body">
    <div class="checklist-heading">
      <div class="checklist-title">
        <div>{{ form.checklist_heading }}</div>
        <div class='form-item__description'>{{ form.checklist_description }}</div>
      </div>
    </div>

    <div class='list-items'>
      {% for key, item in form.items %}
        {% if item.check %}
          <div class='checklist-item-wrapper'>
            <div class='checklist-checkbox'>{{ item.check }}</div>
            <div class='checklist-config'>{{ item.link }}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
